.profile-btns {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.post-details-form {
    margin: 20px;
}

.rating-bar-holder {
    padding-left: 40px;
}

.rating-bar {
    width: 300px;
    padding-top: 14px;
}

div {
    margin-top: 20px;
    background-color: rgb(253, 244, 253);
}

.example-header-image {
    background-size: cover;
}